@use "../../base.module" as base;
.profiles {
  padding-bottom: 0.5em;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: base.$light-important-color;
    }
  }
}

.profile {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.3em;
}

.name{
  display: inline-block;
}

.links {
  margin-left: 0.3em;
  display: inline-block flex;
  justify-content: center;
}