@use "../../base.module" as base;
@use "sass:math";

$figure-width: base.$max-page-width / 4;
$figure-height: $figure-width * 0.6;

.demos{
  padding-top: 1em;
}

.figures-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.figure{
  overflow: hidden;
  border-radius: 5%;
  border-color: darkgray;
  height: $figure-height;
  width: $figure-width;
  margin: 1%;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  &:hover{
    border-color: black;
  }
}