.gallery{
  display: grid;
  height: 14ddvw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 2em;

  &Img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    &:hover{
      border-color: darkgrey;
    }
  }
}