.gallery{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 2em;

  &-img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    border-color: #eee;
    box-sizing: border-box;
    &:hover{
      border-color: #888;
    }
  }
}