@use "../../../base.module" as base;

.content-list{
  margin: 0.3em 0.3em 0.3em 0;
  overflow-wrap: break-word;
  word-break: break-all;
}

.table {
    // --bs-table-bg: transparent;
    // --bs-table-accent-bg: transparent;
    // --bs-table-striped-color: #212529;
    // --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    // --bs-table-active-color: #212529;
    // --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    // --bs-table-hover-color: #212529;
    // --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    //display: table;
    @media screen and (max-width: base.$device-width) {
      //font-size: 0.4rem;
    }
    text-indent: initial;
    border-spacing: 2px;
    max-width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
    table-layout: fixed;
    //word-wrap: break-word;
    // overflow: hidden;
    // text-overflow: ellipsis;
    hyphens: manual;

    td, th{
        border: 1px solid black;
    }

    th[scope="col"]{
      background-color: #ddd;
    }

    th[scope="row"]{
      background-color: #eee;
    }

    tr>*:nth-child(1){
      max-width: 100px;
    }
    tr>*:nth-child(2){
      overflow-wrap: break-word;
      word-break: break-all;
    }
    tr>*:nth-child(3), tr>*:nth-child(4){
      max-width: 100px;
      overflow-wrap: break-word;
    }
}