$max-page-width: 900px;

@mixin styling($aside-width, $container-padding) {
  .wrapper{
    display: flex;
    justify-content: center;
    background-color: grey;
  }
  
  .container{
    padding: $container-padding;
    max-width: $max-page-width;
    min-height: 720px;
    background-color: white;
  }


  .langSwitch{
    font-size: 1.2rem;
    &::before{
      // float: left;
      // content: " ";
      // background-image: url("statics/iconfont/earth.svg");
      // background-size: contain;
      // height: 1.2rem;
      // width: 1.2rem;
    }
  }

  .header {
    color: #492a7c;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Avenir", Verdana;
    a {
      text-decoration: none;
      &:hover{
        color: #7533f4;
        text-decoration: underline;
      }
    }
  }

  .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1rem;
    &Item{
      padding: 0 10px;
    }
  }

  .aside{
    @media (min-width: 450px){
      font-size: 0.8rem;
    }
    font-size: 0.6rem;
    position: absolute;
    width: $aside-width;
  }

  .main{
    //min-height: 100vh;
    &Container{
      padding-left: $aside-width;
    }
  }

  .footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    padding-left: $aside-width;
  }

}

@media screen and (max-width: 450px) {
  $aside-width: 6rem;
  $container-padding: 0.5rem 1rem;
  @include styling($aside-width, $container-padding)
}

@media screen and (min-width: 450px) {
  $aside-width: 9rem;
  $container-padding: 1rem 2rem;
  @include styling($aside-width, $container-padding)
}