@use "base.module" as base;

:global(html) {
  background-color: base.$background-color;
  @media screen and (max-width: base.$device-width) {
    font-size: 0.8rem;
  }
  max-width: 800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(body) {
  margin: 0;
}

:global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:global(strong), :global(h6), :global(h5), :global(h4), :global(h3), :global(h2), :global(h1){
  color: base.$dark-important-color;
}

:global(a) {
  color: base.$light-important-color;
}

:global(a:hover) {
  color: rgb(244, 176, 20);
}

:global(section) {
  padding-bottom: 0.5em;
}