@use "base.module" as base;

:global(html) {
  background-color: base.$background-color;
}

:global(body) {
  max-width: 800;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:global(strong, h1, h2, h3, h4, h5, h6){
  color: base.$dark-important-color;
}

:global(a) {
  color: base.$light-important-color;
}

:global(a:hover) {
  color: rgb(244, 176, 20);
}